---
import {
  socialToColorClassMap,
  socialToIconMap,
  type Social,
} from '@site-types/social';
import Icon from 'src/components/common/Icon.astro';
import ExternalLink from '../common/ExternalLink.astro';

type Props = {
  type: Social;
  to: string;
  inline?: boolean;
  alt?: string;
};
const { type, to, inline = false, alt } = Astro.props;
---

<ExternalLink
  noreferrer
  nofollow
  to={to}
  hoverClass={socialToColorClassMap[type]}
>
  {alt && <span class="sr-only">{alt}</span>}
  <Icon inline={inline} icon={socialToIconMap[type]} />
</ExternalLink>
