---
import { SITE_AUTHOR } from 'src/consts';
import { Constants } from 'src/utilities/constants';
import Icon from './common/Icon.astro';

const today = new Date();
---

{/* TODO: Deduplicate with footer section */}
<footer class="text-center px-4 pt-8 pb-12 md:pb-24">
  &copy; {today.getFullYear()}
  {SITE_AUTHOR}. All rights reserved.
  <div class="flex justify-center gap-4 mt-4">
    <a href={Constants.social.LINKEDIN_URL} target="_blank">
      <span class="sr-only">Connect with me on LinkedIn</span>
      <Icon icon="cib:linkedin" class="text-[2rem]" />
    </a>
    <a href={Constants.social.EMAIL_URL} target="_blank">
      <span class="sr-only">Send me an email</span>
      <Icon icon="cib:gmail" class="text-[2rem]" />
    </a>
    <a href={Constants.social.GITHUB_URL} target="_blank">
      <span class="sr-only">Go to my GitHub profile</span>
      <Icon icon="cib:github" class="text-[2rem]" />
    </a>
  </div>
</footer>
