---
import Icon from 'src/components/common/Icon.astro';

type Props = {
  label: string;
  href?: string;
  isActive?: boolean;
  leftIcon?: string;
  rightIcon?: string;
  targetBlank?: boolean;
  noopener?: boolean;
  noreferrer?: boolean;
  nofollow?: boolean;
};
const { label, href, isActive, leftIcon, rightIcon } = Astro.props;
const {
  targetBlank,
  noopener = false,
  noreferrer = false,
  nofollow = false,
} = Astro.props;

const rel = [
  noopener && 'noopener',
  noreferrer && 'noreferrer',
  nofollow && 'nofollow',
]
  .filter(Boolean)
  .join(' ');

const linkAttrs = {
  ...(targetBlank && { target: '_blank' }),
  ...(rel && { rel }),
};
---

<a
  class:list={[
    'px-2 py-1 transition',
    'select-none rounded',
    'hover:shadow-md',
    'hover:text-white dark:hover:text-stone-900',
    'hover:bg-blue-600 dark:hover:bg-zinc-100',
    isActive && [
      'text-stone-900 dark:text-stone-200',
      'bg-zinc-200 dark:bg-zinc-600',
      'bg-opacity-95 dark:bg-opacity-90',
      'shadow-none',
    ],
  ]}
  href={href}
  title={label}
  {...linkAttrs}
>
  {leftIcon && <Icon inline icon={leftIcon} />}
  {label}
  {rightIcon && <Icon inline icon={rightIcon} />}
</a>
