---
import type { Experience } from '@site-types/data';
import Markdown from 'src/components/common/Markdown.astro';
import TechnologyIcon from '../common/TechnologyIcon.astro';

type Props = Experience;
const {
  company: companyName,
  position,
  from,
  to,
  description,
  link,
  tech,
} = Astro.props;
---

<div class="font-sans">
  <p class:list={['text-sm', 'text-stone-600']}>
    {from} - {to}
  </p>
  <div class="flex flex-wrap items-baseline leading-none gap-x-2 gap-y-1">
    <h4 class:list={['TEXT_MEDIUM', 'text-xl']}>{position}</h4>
    <p class:list={['text-sm', 'text-stone-600']}>
      at {
        !link ? (
          companyName
        ) : (
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class:list={[
              'hover:text-blue-600 dark:hover:text-white',
              // Based on Classes.TEXT_DYNAMIC_COLOR
              'decoration-zinc-900/30 dark:decoration-stone-400/20',
              'underline hover:decoration-transparent decoration-dotted underline-offset-4',
            ]}
          >
            {companyName}
          </a>
        )
      }
    </p>
  </div>

  {
    description && (
      <Markdown
        linkTarget="_blank"
        class:list={['mt-3 space-y-1', 'MARKDOWN_CONTAINER']}
        text={description}
      />
    )
  }
  {
    tech?.length && (
      <div
        class:list={['text-3xl text-center', 'flex flex-wrap gap-2', 'mt-4']}
      >
        {tech.map((techItem) => (
          <TechnologyIcon
            withTooltip
            tooltipPosition="bottom"
            tech={techItem}
          />
        ))}
      </div>
    )
  }
</div>
